.mainmenu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    align-self: center;
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 4rem;
}

.button {
    margin-top: 2rem;
    font-size: 3rem;
    background-color: #fff;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    color: #41403e;
    cursor: pointer;
    font-family: 'Cabin Sketch', sans-serif;
    line-height: 23px;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.instructions-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.instructions {
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

.assignment-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animal-element {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
}

.drawingEl-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.canvas {
    height: 300px;
    width: 600px;
    border: 2px solid black;
}

.counter {
    margin: 1.5rem;
    background-color: #fff;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    color: #41403e;
    cursor: pointer;
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 2rem;
    line-height: 23px;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
}

.inputEl-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-el {
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

.user-input-el {
    margin: 1.5rem;
    background-color: #fff;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    color: #41403e;
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    line-height: 23px;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
}

.answer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.correct-el {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
}

.incorrect-el {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
}

.incorrect-quote {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.3rem;
}

.gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.3rem;
    margin-top: 3rem;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    color: #41403e;
    line-height: 23px;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
}

.loader {
    margin: 15% 25%;
    animation: fadeInAnimation fadeOut ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;} 
 } 